ul.manager-tabs{
	display:block;
	position:relative;
	margin: 1em 0em;
	padding:0px;
}
ul.manager-tabs li{
	position:relative;
	display: inline-block;
	padding:1em 2em;
	margin-right:2em;
	border-radius:10px;
	cursor:pointer;
	width:50px;
}
.manager-tabs img{
	width:35px;
	height:35px;
	object-fit: contain;
	margin:auto;
	display:block;
	position:relative;
}
.manager-tabs li:hover{
	color:black;
	background-color:#d6d6d6;
}
ul.manager-tabs li.active{
	background-color:#d6d6d6;
}

ul.manager-tabs li .tab-name{
	width:100%;
	text-align:center;
	margin:10px auto;
}

.script .save{
	position:relative;
    background-color: #d6d6d6;
    font-size: 1em;
    border-radius: 4em;
    border: 0px;
    width:100px;
    padding-right:50px;
    float: right;
    margin: 0.5em 0em;
}

.script .save span{
	padding:1em 2em;
	position:relative;
	display:block;
	font-weight:300;
}
.script img{
	position: absolute;
    top: 0px;
    right: 1em;
    height: 80%;
    width: auto;
    bottom: 0px;
    margin: auto;
}