body,html{
	position:relative;
	padding:0px;
	margin:0px;

	font-size:16px;
	font-weight:100;
	font-family: 'AvenirNext';
	color:#565656;
}
textarea:focus, input:focus{
    outline: none;
}
button:focus {outline:0 !important;}

/*nj animations*/
.fade.ng-hide {
  opacity: 0;
}
.fade{
  display: block !important;
}
.fade{
	opacity: 1;
	transition: all linear 100ms;
	-webkit-transition: all linear 100ms;
	-ms-transition: all linear 100ms;
	-o-transition: all linear 100ms;
}
.zoom-hover, .zoomHover{
	transition: all linear 100ms;
	-webkit-transition: all linear 100ms;
	-ms-transition: all linear 100ms;
	-o-transition: all linear 100ms;
}
.zoom-hover:hover, .zoomHover:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

.full-screen{
	position:relative;
	display:block;
	width: 100%;
    min-height: 100%;
}
.clickable{
	cursor:pointer;
}
.el{
	position:relative;
	display:block;
}
loader{
	display:block;
	width: 100%;
    height: 100%;
    position:absolute;
    top:0px;left:0px;
}
spacer{
	display: block;
    height: 1em;
}
dashboard{
	position:relative;
	display:block;
	background-color:#e4e4e4;
	min-height:100%;
	box-sizing:border-box;
	margin-left:300px;
}
dashboard h1{
	font-weight: 300;
    font-size:2.5em;
}
.ace-results{
	box-sizing:border-box;
	padding:1em 3em;
}
.text-field{
	padding:2.5em;
	background-color: white;
	font-size:1em;
	border-radius:4em;
	border:0px;
	/*min-width:500px;*/
}

.text-field.script{
	border-radius:1em;
}
.script textarea{
	resize:none;
	position:relative;
	display:block;
	font-size:1em;
	border:0px;
	width:100%;
	margin:1em auto;
	color:grey;
}
.script textarea:hover{
	color:black;
}

.asset{
	position:relative;
	float:left;
	margin:1em;
}

ul{
	list-style: none;
}
a{
	color:grey;
	text-decoration:none;
	cursor:pointer;
}