body,html{
	position:relative;
	padding:0px;
	margin:0px;

	font-size:16px;
	font-weight:100;
	font-family: 'AvenirNext';
	color:#565656;
}
textarea:focus, input:focus{
    outline: none;
}
button:focus {outline:0 !important;}

/*nj animations*/
.fade.ng-hide {
  opacity: 0;
}
.fade{
  display: block !important;
}
.fade{
	opacity: 1;
	transition: all linear 100ms;
	-webkit-transition: all linear 100ms;
	-ms-transition: all linear 100ms;
	-o-transition: all linear 100ms;
}
.full-screen{
	position:relative;
	display:block;
	width: 100%;
    min-height: 100%;
}

loader{
	display:block;
	width: 100%;
    height: 100%;
    position:absolute;
    top:0px;left:0px;
}
spacer{
	display: block;
    height: 2em;
}
dashboard{
	position:relative;
	display:block;
	background-color:#e4e4e4;
	min-height:100%;
	box-sizing:border-box;
	margin-left:300px;
}
dashboard h1{
	font-weight: 300;
    font-size:2.5em;
}
.ace-results{
	box-sizing:border-box;
	padding:1em 3em;
}
.text-field{
	padding:2.5em;
	background-color: white;
	font-size:1em;
	border-radius:4em;
	border:0px;
	/*min-width:500px;*/
}

.text-field.script{
	border-radius:1em;
}
.script textarea{
	resize:none;
	position:relative;
	display:block;
	font-size:1em;
	border:0px;
	width:100%;
	margin:1em auto;
	color:grey;
}
.script textarea:hover{
	color:black;
}

.asset{
	position:relative;
	float:left;
	margin:1em;
}

ul{
	list-style: none;
}
a{
	color:grey;
	text-decoration:none;
	cursor:pointer;
}

.video{
	position:relative;
	width:100%;
	max-width:960px;
	margin:auto;
}
.video share-button{
	position:relative;
	border:0px;
	float:right;
	margin:20px 0px;
}
.video share-button button{
	border:0px;
}

.video video{
	position:relative;
	width:100%;
	max-width:960px;
	margin:auto;
	height:auto;
	display:block;
}
.video .start-render{
	padding:2em;
	border: 1px solid black;
	cursor:pointer;
	position:relative;
	margin:10% auto;
	text-align:center;
	width:300px;
}
.video .start-render:hover{
	color:black;
	background-color:#c3c0c0;
}

.editor #bodymovin{
    background-color:#000000;
    width:960px;
    height:540px;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    margin: auto;
    opacity: 1;
}