ace-script .text-field{
    border-radius:1em;
}
ace-script textarea:hover{
    color:black;
}

ace-script .line .idx{
    display:inline;
    font-weight:300;
}
ace-script .line{
    position:relative;
    margin:1em auto;
}
ace-script .line textarea{
    resize:none;
    position:relative;
    display:block;
    font-size:1.1em;
    border:0px;
    width:100%;
    color:black;
    font-weight:300;
    font-family: inherit;
}
ace-script .line img.delete{
    position:absolute;
    right:-1em;
    top:0px;
    height:2em;
    width:auto;
    opacity:0;
}
ace-script .line:hover img.delete{
    opacity:1;
}
ace-script .add{
    position:absolute;
    bottom:0px;
    right:0px;
    height:3em;
    margin:1em;
}

ace-script .line .info{
    height:1.5em;
}
ace-script .line .info .source{
    color: #f51ca8;
    border: 0px;
    width: 230px;
    font-size: 1em;
    font-weight:300;
    font-family: inherit;
    height:2em;
    float:left;
    margin-top:0.25em;
}
ace-script .line .info .source:hover{
    color:black;
}
ace-script .line .info share-button{
    height:100%;
    margin:0px 2px;
}