.text-field.script{
    border-radius:1em;
}
.script textarea{
    resize:none;
    position:relative;
    display:block;
    font-size:1em;
    border:0px;
    width:100%;
    margin:1em auto;
    color:grey;
}
.script textarea:hover{
    color:black;
}

ace-script .line{
    position:relative;
}
ace-script .line img.delete{
    position:absolute;
    right:-1em;
    top:0px;
    height:2em;
    width:auto;
    opacity:0;
}
ace-script .line:hover img.delete{
    opacity:1;
}
ace-script .add{
    position:absolute;
    bottom:0px;
    right:0px;
    height:3em;
    margin:1em;
}