ace-video .vid-container{
	position:relative;
	width:80%;
	max-width:960px;
}
ace-video .vid-container .resizer{
	position:relative;
	padding-top:56%;
}
ace-video .vid-container .player{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:block;
	background-color: #d6d6d6;
}
ace-video share-button button{
	border:0px;
}

ace-video video{
	position:relative;
	width:100%;
	max-width:960px;
	margin:auto;
	height:auto;
	display:block;
}
ace-video .start-render{
	padding:2em;
	border: 1px solid black;
	cursor:pointer;
	position:relative;
	margin:10% auto;
	text-align:center;
	width:300px;
}
ace-video .start-render:hover{
	color:black;
	background-color:#c3c0c0;
}

ace-video #bodymovin{
    background-color:#000000;
    width:100%;
    height:100%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    margin: auto;
    opacity: 1;
}


ace-video .controls{
	text-align:center;
	width: 80%;
    max-width: 960px;
    position:relative;
    display:block;
}
ace-video button-with-check{
	float:left;
}

ace-video .toggle{
	position: absolute;
	margin: auto;
    left: 0px;
    right: 0px;
	display:inline-block;
    font-size: 1em;
    border: 0px;
    font-weight: 300;
    
}
ace-video .toggle span.tab{
	display:inline-block;
	margin: 1em 0em;
	padding:1em;
	background-color: #d6d6d6;
}
ace-video .toggle span.tab:hover, ace-video .toggle span.tab.selected{
	background-color:#565656;
	color:white;
}
ace-video .toggle span:first-of-type{
	padding: 1em 1.5em 1em 2em;
	border-right: 2px solid #565656;
	border-top-left-radius: 4em;
	border-bottom-left-radius: 4em;
}
ace-video .toggle span:last-of-type{
	margin-left: -5px;
	padding: 1em 2em 1em 1.5em;
	border-top-right-radius: 4em;
	border-bottom-right-radius: 4em;
}

ace-video .controls .actions{
	position: relative;
	display:inline-block;
    margin: 1em 0em;
    float:right;
    height:4em;
}
ace-video .controls .actions img.action, ace-video .controls .actions share-button{
	height:45%;
	width:auto;
	margin:0em 0.3em;
	float:right;
	position: relative;
    top: 25%;
}