button-with-check{
    position: relative;
    background-color: #d6d6d6;
    font-size: 1em;
    border-radius: 4em;
    border: 0px;
    padding-right: 4em;
    float: right;
    margin: 1em 0em;
    cursor:pointer;

    transition: all linear 500ms;
    -webkit-transition: all linear 500ms;
    -ms-transition: all linear 500ms;
    -o-transition: all linear 500ms;
}
button-with-check.active{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);

    transition: all linear 0ms;
    -webkit-transition: all linear 0ms;
    -ms-transition: all linear 0ms;
    -o-transition: all linear 0ms;
}
button-with-check span{
    padding: 0.5em 0.2em 0.5em 0.5em;
    position: relative;
    display: block;
    font-weight: 300;
    width: auto;
}
button-with-check img{
    position: absolute;
    top: 0px;
    right: 0.5em;
    height: 80%;
    width: auto;
    bottom: 0px;
    margin: auto;
}