<div ng-repeat="v in assets" class='asset'>
    <iframe ng-src="{{v.embed | trustUrl}}" frameborder='0' allowfullscreen></iframe>

    <div class='actions'>
        <img class='delete clickable zoom-hover' ng-click="deleteAsset($index)" ng-src='img/assets/deleteAsset.png'/>

        <share-button platform="facebook" active="true" sharetype="link" sharelink="{{v.url}}" active='true' style='fill'></share-button>
        <share-button platform="twitter" active="true" sharetype="link" sharelink="{{v.url}}" active='true' style='fill'></share-button>
        <share-button platform="email" active="true" sharetype="link" sharelink="{{v.url}}" active='true' style='fill'></share-button>
    </div>

</div>
<img class='add clickable zoom-hover' ng-click="addAsset()" ng-src='img/assets/addAsset.png'/>