<div class='text-field script'>
    <div ng-repeat="t in script" class='line'>
        <textarea type="text" ng-model='t.text' ng-keyup='didEdit()'>{{t.text}}</textarea>
        <img class='delete clickable zoom-hover' ng-click="deleteLine($index)" ng-src='img/assets/deleteAsset.png'/>
    </div>
    <img class='add clickable zoom-hover' ng-click="addLine()" ng-src='img/assets/addAsset.png'/>
</div>
<button-with-check ng-click="saveEdits()" class='clickable fade ng-hide-animate save' ng-show='edited'>Save</button-with-check>