<div class='vid-container'>
    <div class='resizer'></div>
    <div class='player'>
        <div ng-show="isSet('preview')">
            <div id="bodymovin"></div>
            <player-controls class='el'></player-controls>
            <spacer></spacer>
        </div>

        <div ng-show="isSet('mp4')">
            <loader ng-hide="videoReady()" class='fade ng-hide-animate'></loader>
            <video ng-show="videoReady()" poster="{{videoData.poster | trustUrl}}" controls="" ng-src="{{videoData.url | trustUrl}}"></video>
            
        </div>
    </div>
</div>

<div class='controls'>
    <button-with-check ng-click="renderMp4()">Render</button-with-check>

    <div class='toggle'>
        <span class='clickable tab' ng-class="{ selected: isSet('preview') }" ng-click="toggleView('preview')">Preview</span>
        <span class='tab clickable' ng-class="{ selected: isSet('mp4'), rendered: videoReady() }" ng-click="toggleView('mp4')">MP4</span>
    </div>

    <div class='actions'>
        <img class="clickable zoom-hover" src="img/video/analyticsIcon.png" ng-click="goAnalytics()"/>
        <!-- <img class="clickable zoom-hover" src="img/video/downloadIcon.png" ng-click="download()"/> -->
        <share-button type="download" storyid="{{story.storyId}}" storyname="{{story.name}}" active="videoReady()"></share-button>
        <share-button type="email" storyid="{{story.storyId}}" storyname="{{story.name}}" active="videoReady()"></share-button>
        <share-button type="twitter" storyid="{{story.storyId}}" storyname="{{story.name}}" active="videoReady()"></share-button>
        <share-button type="facebook" storyid="{{story.storyId}}" storyname="{{story.name}}" active="videoReady()"></share-button>
    </div>
</div>

